html,
body {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

body {
  display: flex;
  justify-content: center;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.form-element {
  display: flex;
  flex-direction: column;
}

.label-element {
  font-weight: bold;
}
