html,
body {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

body {
  display: flex;
  justify-content: center;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.form-element {
  display: flex;
  flex-direction: column;
}

.label-element {
  font-weight: bold;
}
input {
  border: 2px solid black;
  border-radius: 5px;
}

input:focus:valid {
  border: 2px solid rgb(0, 255, 0);
  border-radius: 5px;
}
input:valid {
  border: 2px solid rgb(0, 255, 0);
  border-radius: 5px;
}

input:focus {
  outline: none;
  border-radius: 5px;
}

input:focus:invalid {
  border: 2px solid red;
  border-radius: 5px;
}
